<section id="booking-form" class="my-4"  >
    <div class="container mt-5">
        <div class="row">
            
            <div class="col-4">
                <div class="row">
                    <div class="col-9 text-end">
                        <img src="https://cdn-icons-png.flaticon.com/512/2907/2907720.png" alt="Driver Icon" class="driver">
                    </div>
                </div>
                <div class="row">
                    @for (seatNo of seatArray; track $index) {
                        @if (checkIfSeatBooked(seatNo) != -1) {
                            <div class="col-3">
                                <div class="seat reserved">{{seatNo}}</div>
                            </div>
                        } @else {
                            @if(checkIsSeatSelected(seatNo) != -1) {
                                <div class="col-3">
                                    <div class="seat selected" (click)="selectSeat(seatNo)">{{seatNo}}</div>
                                </div>
                            } @else {
                                <div class="col-3">
                                    <div class="seat available" (click)="selectSeat(seatNo)">{{seatNo}}</div>
                                </div>
                            }
                        }
                        
                    }
                </div>
            </div>
            <div class="col-8">
                <h4>Add Passenger Details</h4>
                @for (item of userSelectedSeatArray; track $index) {
                    <div class="row d-flex align-items-center">
                        <div data-mdb-input-init class="form-floating col-3 mb-2">
                            <input type="text" class="form-control" [(ngModel)]="item.passengerName" />
                            <label class="form-label">Passenger Name</label>
                        </div>
                        <div data-mdb-input-init class="form-floating col-3 mb-2">
                            <input type="text" class="form-control" [(ngModel)]="item.age" />
                            <label class="form-label">Age</label>
                        </div>
                        <div data-mdb-input-init class="input-group col-3 mb-2 w-25">
                            <select class="form-select" [(ngModel)]="item.gender">
                                <option selected>Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="FeMale">FeMale</option>
                            </select>
                        </div>
                        <div data-mdb-input-init class="form-floating col-3 mb-2">
                            <input type="text" class="form-control" [(ngModel)]="item.seatNo" />
                            <label class="form-label">Seat No</label>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-12 text-center">
                        <button class="btn btn-danger mt-3" (click)="bookNow()">Book Now</button>
                    </div>
                </div>
            </div>
        </div> 
      </div> 
</section>