<!-- Search Form -->
<section class="background-div d-flex align-items-center justify-content-end">
	<form class="search-form d-flex align-items-center shadow-lg">
		<div class="row w-100 text-white d-flex align-items-center">
			<div class="col-md-3 d-flex align-items-center">
				<div class="input-group">
					<select class="form-select" name="fromLocation" [(ngModel)]="searchObj.fromLocation">
						<option value="">From</option>
						@for (item of locations$| async; track $index) {
						<option [value]="item.locationId">{{item.locationName}}</option>
						}
					</select>
				</div>
			</div>
			<div class="col-md-1 text-center d-flex align-items-center justify-content-center">
				<i class="bi bi-arrow-left-right fs-4 cursor-pointer"></i>
			</div>
			<div class="col-md-3 d-flex align-items-center">
				<div class="input-group">
					<select class="form-select" name="toLocation" [(ngModel)]="searchObj.toLocation">
						<option value="">To</option>
						@for (item of locations$| async; track $index) {
						<option [value]="item.locationId">{{item.locationName}}</option>
						}
					</select>
				</div>
			</div>
			<div class="col-md-3 d-flex align-items-center">
				<div class="input-group">
					<input type="date" name="travelDate" class="form-control rounded-1" placeholder="Date"
						[(ngModel)]="searchObj.travelDate">
				</div>
			</div>
			<div class="col-md-2 text-center">
				<button type="button" class="btn btn-light text-danger w-100" (click)="onSearch()">SEARCH</button>
			</div>
		</div>
	</form>
</section>

<!-- Buses List -->
 <div class="container">
	<section id="buses-list" class="my-4">
		<h2>Available Buses</h2>
		@for (item of busList; track $index) {
		<div class="row">
			<div class="col-12">
				<div class="card mb-3">
					<div class="row g-0">
						<div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
							<h5 class="card-title">{{item.busName}}</h5>
							<p class="card-text">A/C Sleeper (2+1)</p>
						</div>
						<div class="col-md-9">
							<div class="card-body row">
								<div class="col-md-2">
									<p class="card-text"><strong>{{item.departureTime | date:'hh:mm:ss'}}</strong></p>
									<p class="card-text">Departure</p>
								</div>
								<div class="col-md-2">
									<p class="card-text"><strong>13h 55m</strong></p>
									<p class="card-text">Duration</p>
								</div>
								<div class="col-md-2">
									<p class="card-text"><strong>{{item.arrivalTime | date:'hh:mm:ss'}}</strong></p>
									<p class="card-text">Arrival</p>
									<p class="text-danger">{{item.arrivalTime | date:'dd:MM:yyyy'}}</p>
								</div>
								<div class="col-md-2">
									<p class="card-text"><strong>4.5</strong> ⭐</p>
									<p class="card-text">567 Ratings</p>
								</div>
								<div class="col-md-2">
									<p class="card-text"><strong>INR {{item.price}}</strong></p>
									<p class="card-text">{{item.availableSeats}} seats available out of
										{{item.totalSeats}}</p>
								</div>
								<div class="col-md-2 text-end">
									<button class="btn btn-danger" [routerLink]="['/booking', item.scheduleId]"
										routerLinkActive="router-link-active">VIEW SEATS</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		}
	</section>
 </div>